@import '../less/Index.less';


.layout{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
.headerBox{
	width: 100%;
}
.topHead{
	z-index: 100000;
	height: 70px;
	background-color: #fff;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;

	.second{
		width: 100%;
		background-color: #fff;
		height: 0px;
		overflow: hidden;
		border-top: 1px solid darken(#f5f5f5,10%);
		transition: height cubic-bezier(0.25,0.1,0.25,1) .4s;
	}

	.first{
		width: 100%;
		.nav{
			display: flex;
			align-items: center;
			.left{
				img{
					height: 40px;
				}
			}
			.middle{
				// flex: 1;
				padding: 0 45px;
				height: 70px;
				line-height: 70px;
				& > a{
					display: inline-block;
					// padding: 0 15px;
					font-size: 14px;
					margin: 0 20px;
					color: #4a4a4a;
					transition: color ease-in .15s;
					&:hover{
						color: @link-color;
					}
				}
				.active{
				  color: @link-color;
				}
			}
		}
	}
	

	.cons{
		.main_width();
	}


}
.contentBox{
	padding-top: 70px;
	flex: 1;
}






.basic{
	background-color: #e0e0e0;
	.top{
		.main_width();
		display: flex;
		padding: 40px 0;
		border-bottom: 1px solid #d2d2d2;
		.cell{
			flex: 1;
			font-size: 14px;
			.til{
				color: #000;
				margin-bottom: 20px;
				font-weight: bold;
			}
			& > ul{
				li{
					line-height: 26px;
					& > a{
						color: #666;
						transition: color ease-in .15s;
						&:hover{
							color: @link-color;
						}
					}
				}
			}
		}
	}
	.copy{
		.main_width();
		display: flex;
		height: 55px;
		align-items: center;
		color: #666;
		& > div{
			flex: 1;
			font-size: 14px;
		}
		& > div:nth-child(2) {
			text-align: right;
		}
	}
}



.background-image-2x(@name;@ext:png) {
  background-image: url('../assets/@{name}.@{ext}');
}



.banner-user{
	height: 300px;
	width: 100%;
}
.banner-user-elem{
	width: 100%;
	height: 200px;
	text-align: center;
	position: relative;
}



.hd{
	width: 100%;
	display: flex;
	height: 300px;
	align-items: top;
	justify-content: space-between;
	overflow: hidden;
	a{
		color: #333;
		&:hover{
			color: #346ccd;
		}
	}
	.left{
		width: 360px;
		height: 100%;
		padding: 0 20px;
		& > img{
			width: 360px;
			height: 220px;
			margin-top: 40px;
		}
	}
	.middle{
		flex: 1;
		text-align: left;
		& > h2{
			font-size: 24px;
			line-height: 30px;
			margin-bottom: 20px;
			margin-top: 60px;
		}
		& > p{
			color: #666;
			font-size: 16px;
			line-height: 24px;
		}
	}
	.right{
		width: 200px;
		padding: 0 20px;
		margin-top: 60px;
		& > li{
			color: #333;
			line-height: 37px;
			cursor: pointer;
			text-align: left;
			padding-left: 20px;
			&:hover{
				color: #336ccd;
			}
			border-bottom: 1px solid #d9d9d9;
		}
	}
}





